@media (min-width: 600px) {
    .Nav_Container{
        background-color: rgba(0, 0, 0);
        margin-top: 10px;
        border-radius: 5px;
        position: absolute;
        z-index: 100;
        margin: 5px;
        padding: 5px;
        width: 400px;
        -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .Nav_Container img{
    border-radius: 5px;
    margin-bottom: 0px;
    }

    .Nav_Container a{
        margin-left: 5px;
        color: rgb(0, 0, 0); 
    }

    #Close_Nav_Btn{
        margin-top: 10px;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182, 48, 48);
        width: 50px;
        height: 50px;
    }

    .Landing_Container{
        background-color: rgb(223, 211, 211,.6);
        position: absolute;
        z-index: 100;
        border-style: solid;
        border-radius: 5px;
        border-color: white;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .Landing_Container h3{
        margin-bottom: 5px;
    }
    .Landing_Container h1{
        margin-top: -15px;
    }
    .Landing_Container img{
        margin-top: -15px;
    }
    li{
        list-style: none;
    }
    a img{
        -webkit-animation: bounce-top 1.2s both;
	        animation: bounce-top 1.2s both;
    }
    #Close_Landing_Btn{
        margin-top: 20px;
        margin-left: -165px;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182,48,48);
        width: 50px;
        height: 50px;
    }

    #loaded{
        margin-top: 20px;
        width: 100%; 
        height: 240px;
        position: relative;
        z-index: 1000;
    }
    #loading{
        margin-top: 20px;
        width: 50%; 
        margin-left: 11.25vw;
        height: 215px;
    }
}
@media (max-width: 599px) {

    .Landing_Container{

        background-color: rgb(223, 211, 211,.8);
        position: absolute;
        left: 4vw;
        width: 90%;
        z-index: 100;
        margin-top: 5%;
        border-style: solid;
        border-radius: 5px;
        border-color: rgb(223, 211, 211);
        text-align: center;
        -webkit-animation: bounce-top 1.2s both;
        animation: bounce-top 1.2s both;



    }
    .Landing_Container img{
        margin-top: -5px;
        margin-bottom: -15px;
    }
    #Close_Landing_Btn{
        margin-top: 10px;
        margin-left: 37%;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182,48,48);
        width: 50px;
        height: 50px;
    }

    .Nav_Container{
        background-color: rgba(0, 0, 0);
        color: white;
        margin-top: 10px;
        border-radius: 5px;
        position: absolute;
        left: 4vw;
        width: 90vw;
        height: 350px;
        z-index: 100;
        -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        


    }

    #loaded{
        margin-top: 20px;
        width: 100%; 
        height: 240px;
        position: relative;
        z-index: 1000;
    }
    #loading{
        margin-top: 20px;
        width: 50%; 
        margin-left: 22.5vw;
        height: 215px;
    }

    .Nav_Container a{
        margin-left: 5px;
        color: rgb(0, 0, 0); 

    }
    a img{
        -webkit-animation: bounce-top 1.2s both;
	        animation: bounce-top 1.2s both;
    }
    .Nav_Container h1{
        color: gray;
        text-align: center;
    }

    .Nav_Container img{
        border-radius: 5px;
        margin-bottom: 0px;
    }

    li{
        list-style: none;
    }

    #Close_Nav_Btn{
        margin-top: 5px;
        margin-left: 85%;
        position:absolute;
        border-radius:20px;
        border-color: 0,0,0,0;
        background-color: rgb(182, 48, 48);
        width: 50px;
        height: 50px;
    }

}




  /* ----------------------------------------------
 * Generated by Animista on 2020-4-2 23:9:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  




  /* ----------------------------------------------
 * Generated by Animista on 2020-4-2 23:0:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  
  
